<!doctype html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }}-MicroBlog</title>
    {% else %}
        <title>Welcome to MicroBlog</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="../static/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="container is-widescreen">
    <div class="notification">
        Hello, <strong>{{user.username}}</strong>
    </div>
</div>

<footer class="foot">
    <div class="columns is-mobile is-gapless">
        <div class="column">
            <ul class="foot-ul">
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="column">
            Second Col
        </div>
        <div class="column">
            Third Col
        </div>
        <div class="column">
            Fourth Col
        </div>
    </div>
    <div style="text-align: center">© 1996-2019, example.com, Inc. or its affiliates</div>
</footer>
</body>
</html>
